.filter-bar-container {
  text-align: center;
  padding: 20px;
  background: #f8f9fa; /* White background for container */
  border-radius: 15px; /* Curved border radius */
  max-width: 1000px;
  margin: 0 auto;
}

.small-heading-ist {
  font-size: 18px;
  color: rgba(30, 144, 255, 0.8);
  margin: 10px 0;
  font-weight: 500;
}
.small-heading {
  font-size: 18px;
  color: #666;
  margin: 10px 0;
  font-weight: 500;
}

.big-heading {
  font-size: 32px;
  color: #333;
  margin: 10px 0 20px;
  font-weight: 700;
}

.filter-fields {
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px; /* Adds gap between each filter item */
  flex-wrap: wrap;
  margin-top: 20px; /* Adds some space above the fields */
}

.filter-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px; /* Adds space below each field */
}

.input-icon-container {
  position: relative;
  width: 200px;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #333; /* Icon color to match text */
  font-size: 18px;
}

.filter-input {
  padding: 10px 10px 10px 35px; /* Adjust padding for icon space */
  font-size: 16px;
  border: none; /* Remove border */
  border-radius: 18px; /* Curved border radius */
  width: 100%;
  color: #333; /* Text color */
  transition: box-shadow 0.3s ease; /* Smooth transition for box-shadow */
  background-color: rgba(30, 144, 255, 0.3); /* More transparent field background color */
}

.filter-input::placeholder {
  color: #333; /* Placeholder color */
}

.filter-input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(30, 144, 255, 0.8); /* Add a subtle shadow on focus */
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: rgba(30, 144, 255, 0.8);
  border: none;
  border-radius: 18px; /* Curved border radius */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-icon {
  margin-right: 8px;
}

.search-button:hover {
  background-color: rgba(30, 144, 255, 1);
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .filter-fields {
    flex-wrap: wrap; /* Allows items to wrap to a new line */
    justify-content: center; /* Centers items on small screens */
  }

  .input-icon-container {
    width: 100%; /* Takes full width of the parent container on smaller screens */
    margin-bottom: 10px; /* Adds space below each field on smaller screens */
  }
}
